n8n/workflows/albion-gold-history.json
  {
  "name": "Albion Gold History Collector",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          { "mode": "everyXMinutes", "value": 15 }
        ]
      },
      "id": "cron1",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "https://albion-server:8800/api/gold",
        "responseFormat": "json",
        "options": { "timeout": 10000 }
      },
      "id": "fetchGold",
      "name": "Fetch Gold Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [540, 300]
    },
    {
      "parameters": {
        "mode": "jsonToText",
        "propertyName": "data",
        "dataPropertyName": "data"
      },
      "id": "formatData",
      "name": "Format (Optional)",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [780, 300],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "filePath": "/home/node/.n8n/data/gold_history.jsonl",
        "data": "={{$json}}\n"
      },
      "id": "appendFile",
      "name": "Append JSONL",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [780, 460]
    },
    {
      "parameters": {
        "channel": "={{$env.CHANNEL_ID || 'gold-log'}}",
        "text": "Current Gold: {{$json[\"currentPrice\"]}} | Change24h: {{$json[\"change24h\"] || 'N/A'}}"
      },
      "id": "notify",
      "name": "Discord Notify (optional)",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1000, 300],
      "disabled": true
    }
  ],
  "connections": {
    "Cron": { "main": [[ { "node": "Fetch Gold Price", "type": "main", "index": 0 } ]] },
    "Fetch Gold Price": { "main": [[ { "node": "Append JSONL", "type": "main", "index": 0 }, { "node": "Discord Notify (optional)", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "versionId": "albion-gold-history-v1"
}
